<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zkk.moviedp.mapper.ShowingMapper">

    <resultMap id="ShowingDTOMap" type="com.zkk.moviedp.dto.ShowingDTO">
        <result property="movie" column="movie"/>
        <result property="theater" column="theater"/>
        <result property="address" column="address"/>
        <result property="startTime" column="start_time"/>  <!-- 下划线转驼峰 -->
        <result property="price" column="price"/>
        <result property="stock" column="stock"/>
    </resultMap>

    <select id="queryByMovieIds" resultMap="ShowingDTOMap">
        SELECT
        m.`name` AS movie,
        t.`name` AS theater,
        t.address,
        s.start_time,
        s.price,
        v.stock
        FROM tb_showing s
        JOIN tb_movie m ON s.movie_id = m.id
        JOIN tb_theater t ON s.theater_id = t.id
        JOIN tb_voucher v ON s.id = v.showing_id
        WHERE s.movie_id IN
        <foreach item="id" collection="movieIds" open="(" separator="," close=")">
            #{id}
        </foreach>
        ORDER BY s.start_time ASC
    </select>

</mapper>