<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zkk.moviedp.mapper.VoucherMapper">

    <select id="queryVoucherOfMovie" resultType="com.zkk.moviedp.entity.Voucher" parameterType="java.lang.Long">
        SELECT
            v.`id`, v.`showing_id`, v.`title`, v.`sub_title`, v.`rules`, v.`pay_value`,
            v.`actual_value`, v.`type`, v.`stock` , v.begin_time , v.end_time
        FROM tb_voucher v
        LEFT JOIN tb_showing s ON v.showing_id = s.id
        WHERE s.movie_id = #{movieId} AND v.status = 1
    </select>
</mapper>
